body {
  background-color: black;
  max-width: 900px;
  margin: auto;
}


.component-container {
  background-color: pink;
  padding: 15px 15px 15px 15px;
  margin-top: 250px;
  text-align: center;
  border-radius: 10px;
  border: 10px solid white;
}